{{ config.header }}

{%- for import_line in model.get_imports() %}
{{ import_line }}
{%- endfor %}

class {{ model.name }}(BaseModel):
{%- if model.description %}
    """
    {{ model.description }}
    """
{%- endif %}
{%- for output in model.outputs %}
    {{ output.render() }}
{%- else %}
    ...
{%- endfor %}
{%- set field_mapping = model.get_field_mapping() %}
{%- if field_mapping %}

    @model_validator(mode='before')
    @classmethod
    def _rename_properties(cls, data: Any) -> Any:
        if not isinstance(data, dict):
            return data
        field_mapping = {
{%- for from_key, to_key in field_mapping.items() %}
            '{{ from_key }}': '{{ to_key }}',
{%- endfor %}
        }

        for from_key, to_key in field_mapping.items():
            if from_key in data:
                data[to_key] = data.pop(from_key)

        return data
{%- endif %}
