{{ config.header }}

{%- for import_line in model.get_imports() %}
{{ import_line }}
{%- endfor %}
{%- if config.set_validataclass_mixin %}
from validataclass.dataclasses import ValidataclassMixin
{%- endif %}

@validataclass
class {{ model.name }}{% if config.set_validataclass_mixin %}(ValidataclassMixin){% endif %}:
{%- if model.description %}
    """
    {{ model.description }}
    """
{%- endif %}
{%- for output in model.outputs %}
    {{ output.render() }}
{%- else %}
    ...
{%- endfor %}
{%- set field_mapping = model.get_field_mapping() %}
{%- if field_mapping %}

    @staticmethod
    def __pre_validate__(input_data: dict) -> dict:
        field_mapping = {
{%- for from_key, to_key in field_mapping.items() %}
            '{{ from_key }}': '{{ to_key }}',
{%- endfor %}
        }

        for from_key, to_key in field_mapping.items():
            if from_key in input_data:
                input_data[to_key] = input_data.pop(from_key)

        return input_data
{%- endif %}
